<% provide(:title, "2017") %>
<h1>Search for company</h1>
<%= form_tag("/search/company", :method => "get") do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<h2>Search result</h2>
<div id="row">
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<div class="fortune-list col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
<% if !@companies.empty? %>
<table>
<tr><th>Rank</th><th>Name</th></tr>
<% @companies.sort.each do |c| %>
<tr><td><%= c.rank %>.</td><td><%= link_to "#{c.name}", "/fortune2017/#{c.id}" %></td></tr>
<% end %>
</table>
<% else %>
<div class="alert alert-warning">
No results found
</div>
<% end %>
</div>
<div class="col-lg-4 col-xl-4 col-md-4"></div>
</div>
