<% provide(:title, "Home") %>
<h1>Welcome#index</h1>
<div id="map"></div>

<script>
	function initMap() {
       // load the map
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40, lng: -100},
          zoom: 4,
          styles: mapStyle
        });

        var mapStyle = [{
          'featureType': 'all',
          'elementType': 'all',
          'stylers': [{'visibility': 'off'}]
        }, {
          'featureType': 'landscape',
          'elementType': 'geometry',
          'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
        }, {
          'featureType': 'water',
          'elementType': 'labels',
          'stylers': [{'visibility': 'off'}]
        }, {
          'featureType': 'water',
          'elementType': 'geometry',
          'stylers': [{'visibility': 'on'}, {'hue': '#5f94ff'}, {'lightness': 60}]
        }];

        <% @companies.each do |c| %>
        <% rad = c.revenue / 10000 %>
        var info = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
        position: {lat: <%= c.lat %>, lng: <%= c.long %>},
        map: map,
        icon: getCircle(<%= (rad < 4) ? 4 : rad  %>)
        }).addListener('mouseover', function(){ 
                    info.setContent('<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3>' + '<%= link_to c.name, "#" %>' +'</h3>'+
            '<div id="bodyContent">'+'<span>'+'Revenue: ' + '<%= c.revenue %>' + '</span>'+ '<br>'+
            '<span>'+'Profit: '+'<%= c.profit %>'+'</span>'+
            '</div>'+
            '</div>');
                    info.open(map, this);
        });

        <% end %>
        function getCircle(magnitude) {
        return {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'red',
          fillOpacity: .2,
          scale: magnitude,
          strokeColor: 'white',
          strokeWeight: .5
        };
      }
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg299oHS0oMVGpAQ9bym65s8aIsFSkzq8&callback=initMap">
    </script>
<ul>
	<% Company.all.each do |c| %>
	<li><%= c.rank %> <%= c.name %> <%= c.revenue %> <%= c.employees %> <%= c.profit %> <%= c.zip %> <%= c.lat %> <%= c.long %></li>
	<% end %>
</ul>
