<% provide(:title, "Home") %>
<h1>Welcome#index</h1>
<ul>
	<% Company.all.each do |c| %>
	<li><%= c.rank %> <%= c.name %> <%= c.revenue %> <%= c.employees %> <%= c.profit %> <%= c.zip %> <%= c.lat %> <%= c.long %></li>
	<% end %>
</ul>
