<h1><%= @company.name %></h1>
<h3>Fortune-500 ranking for the last 10 years</h3>
<%= line_chart [
  {name: "#{@company.name}", data: @ranking}
] %>
<div class="row">
  <div class="col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
    <h2><%= @quote["companyName"] %></h2>
    <h3><%= @quote["symbol"] %></h3>
    <ul>
    <li>Price: <%= @quote["latestPrice"] %></li>
    <li>Change: <%= @quote["change"] %></li>
    <li>High: <%= @quote["high"] %></li>
    <li>Low: <%= @quote["low"] %></li>
  </ul>
  </div>
  <div class="fortune-list col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
  <ul>
  <li><h2><%= link_to "Fortune-500 2017", "/fortune2017" %></h2></li>
  <li>Rank: <%= @company.rank %></li>
  <li>Name: <%= @company.full_name %></li>
  <li>Address: <%= @company.address %>, <%= @company.city %>, <%= State.find(@company.state_id).abrv %> <%= @company.zip %></li>
  <% if @company.web %>
  <li>Website: <%= link_to @company.web, @company.web, target: "_blank" %></li>
  <% end %>
  <li>Revenue: $<%= @company.revenue %>($M)</li>
  <li>Change from previous year: <%= @company.revchange %>%</li>
  <li>Profit: $<%= @company.profit %>($M)</li>
  <li>Change from previous year: <%= @company.profchange %>%</li>
  <li>Assets: $<%= @company.assets %>($M)</li>
  <% if @company.market_value != 0 %>
  <li>Market value: $<%= @company.market_value %>($M)</li>
  <li>Employees: <%= @company.employees %></li>
  <li>CEO: <%= @company.ceo %></li>
  <li>Sector: <%= link_to Sector.find(@company.sector_id).name, "/sector/#{@company.sector_id}" %></li>
  <li>Industry: <%= link_to Industry.find(@company.industry_id).name, "/industry/#{@company.industry_id}" %></li>
  <% end %>
  </ul>
  </div>
  <div class="col-lg-4 col-xl-4 col-md-4 sm-12 xs-12"></div>
</div>
