<% provide(:title, "Sectors") %>
<h1><%= @sector.name %></h1>
<h4><%= link_to "Number of companies in #{@sector.name}: #{@num_companies}", "/sector/companies/#{@sector.id}" %></h4>
<h3>Fortune-500 2017 Industries in <%= @sector.name %></h3>
<div id="row">
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<div class="fortune-list col-lg-4 col-xl-4 col-md-4 sm-12 xs-12">
<ul>
<% @industries.each do |i| %>
<li><%= link_to Industry.find(i.industry_id).name, "/industry/#{i.industry_id}" %></li>
<% end %>
</ul>
<%= will_paginate @industries %>
</div>
<div class="col-lg-4 col-xl-4 col-md-4"></div>
</div>
