<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Fortune 500 Analytics App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
  </head>

  <body>
    <%= render :partial=> "layouts/header" %>
    <%= yield %>
    <%= render :partial=> "layouts/footer" %>
  </body>
</html>
